body {
    font-family: 'Roboto Mono', monospace;
    background-color: #212529;
    color: #e9ecef;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    width: 90%;
    max-width: 600px;
    background: #282c34;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin-top: 30px;
    text-align: center;
  }
  
  header {
    background-color: #343a40;
    color: #fff;
    padding: 1rem 0;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 2px solid #495057;
  }
  
  header h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  main {
    padding: 0;
  }
  
  h2 {
    color: #ffc107;
    margin-bottom: 1rem;
  }
  
  .input-group {
    display: flex;
    justify-content: center; /* Center the input and button */
    margin-bottom: 1rem;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="time"] {
    flex-grow: 1;
    padding: 0.5rem;
    margin: 0 0.5rem 1rem 0.5rem; /* Add margin to all sides */
    border: 1px solid #495057;
    border-radius: 4px;
    background-color: #343a40;
    color: #e9ecef;
    font-size: 1rem;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #errorMessage,
  #confirmationMessage {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 0.9rem;
    text-align: center;
  }
  
  .error {
    color: #dc3545;
    background-color: #493737;
    border: 1px solid #dc3545;
  }
  
  .success {
    color: #28a745;
    background-color: #374937;
    border: 1px solid #28a745;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .container {
      padding: 20px;
    }
  
    .input-group {
      flex-direction: column; /* Stack input and button vertically */
    }
  
    input[type="text"],
    input[type="date"],
    input[type="time"] {
      margin: 0 0 1rem 0; /* Adjust margin for vertical stacking */
    }
  }